In [2]:
#Q1
val1 = int(input("Enter First Value : "))
val2 = int(input("Enter Second Value : "))
op = input("Enter Operator! : ")

if op == "+":
    print(val1 + val2)
elif op == "-":
    print(val1 - val2)
elif op == "*":
    print(val1 * val2)
elif op == "/":
    print(val1 / val2)
elif op == "**":
    print(val1**val2)
else:
    print("Enter Correct Operator !")

Enter First Value : 5
Enter Second Value : 5
Enter Operator! : *
25

In [3]:
#Q3
name = {}
name[1] = "Kundan"
print(name[1])

Kundan

In [7]:
# Q2
the_list = ["Kundan",  "9", 4, "Salam"]
for value in the_list:
    if type(value) == int or type(value) == float:
        print(f"Numeric value found : {value}")
        break

Numeric value found : 4

In [8]:
# Q4
result = 0
val = {1: 2, 2: "Kundan", 3: 2, 4: 100, 5: 98}

for value in val.values():
    if type(value) == int or type(value) == float:
        result = result + value

print(result)

202

In [9]:
# Q5
the_list = [1, "Kundan", "Kundan", 1, 1, 0.4, 0.4, 2, 3, 4, 5, 6]
for value in the_list:
    if the_list.count(value) > 1:
        print("Duplicate value are", value)

Duplicate value are 1
Duplicate value are Kundan
Duplicate value are Kundan
Duplicate value are 1
Duplicate value are 1
Duplicate value are 0.4
Duplicate value are 0.4

In [10]:
# Q6
the_dic = {"a": "Apple", "b": "Ball", "c": "Cat"}
given_key = "b"
for key_val in the_dic.keys():
    if key_val == given_key:
        print("Available")

    else:
        print("NOT!")

NOT!
Available
NOT!